@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style = "background: linear-gradient(180deg, rgba(2,0,36,1) 15%, rgba(23,34,144,1) 70%, rgba(64,29,167,1) 88%, rgba(91,26,182,1) 100%);">
    <div class="text-center">
        <div class = "jumbotron">
            <h1 class="display-4">Welcome to SleepHack</h1>
            <p>Sleep analysis web app</p>
        </div>
    </div>
</body>

