@page
@model SleepHack.Pages.LogModel
@{
    ViewData["Title"] = "Log";
}

    <body style = "background: linear-gradient(180deg, rgba(2,0,36,1) 15%, rgba(23,34,144,1) 70%, rgba(64,29,167,1) 88%, rgba(91,26,182,1) 100%);">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">Sleep Log</h1>
                    <p class="lead">Track sleep times and other information through daily sleep logs!</p>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </body>

