@page
@model SleepHack.Pages.LogModel
@{
    ViewData["Title"] = "Log";
}

    <body style="background-color:#0f80d6;">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">Sleep Log</h1>
                    <p class="lead">Track sleep times and other information through daily sleep logs!</p>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </body>

